[tool.poetry]
name = "scikit-rough"
version = "0.1.2"
description = ""
authors = ["sebov <12091011+sebov@users.noreply.github.com>"]
license = "MIT"
readme = "README.md"
packages = [{ include = "skrough", from = "src" }]

[tool.poetry.dependencies]
python = "^3.9"
attrs = "^23.1.0"
docstring-parser = "^0.15"
joblib = "^1.1.0"
more-itertools = "^8.14.0"
numba = "^0.56.0"
numpy = "^1.22.4"
pandas = "^2.0.0"
scikit-learn = "^1.1.1"

[tool.poetry.group.dev.dependencies]
nbconvert = "^7.2.3"
nb-pdf-template = "^4.0.0"
jupytext = "^1.14.1"
poethepoet = "^0.14.0"
pre-commit = "^2.16.0"

[tool.poetry.group.test.dependencies]
flaky = "^3.7.0"
pytest = "^7.1.2"
pytest-cov = "^3.0.0"
pytest-randomly = "^3.12.0"
pytest-xdist = "^2.5.0"
tox = "^3.25.0"

[tool.poetry.group.code.dependencies]
bandit = "^1.7.1"
black = "^22.3.0"
flake8 = "^4.0.1"
isort = "^5.10.1"
mypy = "^0.930"
nbqa = "^1.2.2"
pydocstyle = "^6.1.1"
pylint = "^2.14.1"
radon = "^5.1.0"

[tool.poetry.group.docs.dependencies]
GitPython = "^3.1.27"
myst-nb = "^0.17.2"
sphinx = "^5.3"
sphinx-autobuild = "^2021.3.14"
sphinx-book-theme = "^1.0.1"
sphinx-copybutton = "^0.5.2"
sphinx-design = "^0.5.0"
sphinx-immaterial = "^0.11.7"
sphinx-material = "^0.0.36"
sphinx-togglebutton = "^0.3.2"

[tool.poetry.group.profile.dependencies]
line-profiler = "^3.4.0"
snakeviz = "^2.1.1"
yelp-gprof2dot = "^1.2.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

# [tool.semantic_release]
# version_variable = "pyproject.toml:version" # version location
# branch = "main"                             # branch to make releases of
# changelog_file = "CHANGELOG.md"             # changelog file
# build_command = "poetry build"              # build dists
# upload_to_repository = false                # don't auto-upload to PyPI
# remove_dist = false                         # don't remove dists

[tool.bandit]
exclude_dirs = ["tests/"]

[tool.pyright]

[tool.poe.tasks.test]
shell = "poetry run pytest ${tests}"
[[tool.poe.tasks.test.args]]
name = "tests"
positional = true
multiple = true
default = "tests"

[tool.poe.tasks.testcov]
shell = """
        NUMBA_DISABLE_JIT=1 poetry run pytest \
        --cov-report=term --cov-report=xml --cov=src/skrough ${tests}
        """
[[tool.poe.tasks.testcov.args]]
name = "tests"
positional = true
multiple = true
default = "tests"

[tool.poe.tasks.docs]
shell = """
        cd docs && make html
        """

[tool.poe.tasks]
isort = "isort src/ tests/"
format = "black src/ tests/"
lint = "pylint --rcfile .pylintrc src/ tests/ dev/"
lint-examples = "pylint --rcfile .pylintrc_examples examples/"
